[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
python-dotenv = "*"
bcrypt = "*"
email-validator = "*"
Flask = "*"
Flask-WTF = "*"
Flask-Bootstrap = "*"
Flask-Bcrypt = "*"
Flask-Login = "*"
Flask-SQLAlchemy = "*"
SQLAlchemy = "*"
WTForms = "*"
Pillow = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
