{% extends "layout.html" %}
{% block content %}

<h1>Home Page </h1>

<p> Click links in navbar to navigate</p>
<!-- Cards or the first Cards in the for loop refers to the Cards table, the second cards is the data passes from the route or render temmplate -->
<!--
{% for Cards in cards %}

    <article class="media content-section">
        <img class="rounded-circle article-img"
             src="{{ url_for('static', filename='profile_pics/' + Cards.author.image_file) }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('user_cards', username=Cards.author.username) }}">{{ Cards.author.username }}</a>
                <small class="text-muted">{{ Cards.date_created.strftime('%x %I:%M') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('card', card_id=Cards.id) }}">{{ Cards.card_name }}</a></h2>
            <p class="article-content">${{ Cards.funds }}</p>
        </div>
    </article>

{% endfor %}
-->
{% endblock content %}
